body{
   
  }
  
  .container{
    width: 1000px;
    height: 300px;
    margin:25vh auto;
    
  }
  
  .header {
    height: 20%;
    width: 210px; 
    background-color: rgb(108, 177, 255);
    text-align: center;
    position:relative;
    margin: 15px; 
  }
  
  #temp, #humidity-div {
    font-family: "Courier New";
    font-weight: bold;
    font-size: 60px;
    color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  
  .city-icon-holder {
    position:absolute;
    left: 25%;
    top: 40%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    text-align: center;
  }
  
  #city-name {
    font-family: "Courier New";
    font-size: 30px;
    font-weight: bold;
    color: #fff;
  }
  
  #icon {
    width:50%;
  }
  
  #main{
    width: 100%;
    height: 100%;
    position: relative;
  }
  
  .city-icon {
    height: 80%;
    width: 50%;
    
    background-color: #FFC107;
  }
  
  .temperature {
    position: absolute;
    left: 50%;
    top:0%;
    height: 40%;
    width: 50%;
    background-color: #9C27B0;
  }
  
  .humidity {
    height: 40%;
    width: 50%;
    position:absolute;
    left:50%;
    top:40%;
   
    background-color: #E91E63;
  }
  
  #search-btn {
    width: 40px;
    height:40px;
    color: #eee;
  }
  
  #search-txt {
    color: red;
    height:30px;
    border-radius: 10px;
    border-style:none;
    outline:none;
    padding-right:1px;
    padding-left:1px;
    text-align:center;
  }
  
  .search {
    position: absolute;
    left: 50%;
    top:50%;
    -webkit-transform:translate(-50%,-50%);
            transform:translate(-50%,-50%);
  }